<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar [ngClass]="{back:true}">
          <ion-icon (click)="back()" name="arrow-back"></ion-icon>
        </ion-toolbar>
      </ion-col>
      <ion-col>
        <ion-toolbar>
          <ion-title>My Incidents</ion-title>
        </ion-toolbar>
      </ion-col>
      <ion-col>
        <ion-toolbar>
          <!-- <ion-title>Incidents</ion-title> -->
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tohandle" (click)="tab1()">
        <ion-label>TO HANDLE</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="history" (click)="tab2()">
        <ion-label>HISTORY</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>


</ion-content>
