
<ion-content [ngClass]="{content:true}">
  <ion-grid>
    <ion-row>
      <ion-col>

        <!-- <ion-thumbnail [ngClass]="{img:true}">
          <img src="../../assets/icon/icon-pencil.png" />
        </ion-thumbnail>
        <ion-label [ngClass]="{label:true}">Edit</ion-label> -->
        <ion-fab-button>
          <ion-thumbnail [ngClass]="{img:true}">
            <img src="../../assets/icon/icon-pencil.png" />
          </ion-thumbnail>
        </ion-fab-button>


      </ion-col>
      <ion-col>
        <ion-fab-button>
          <ion-thumbnail [ngClass]="{img:true}">
            <img src="../../assets/icon/icon-trash.png" />
          </ion-thumbnail>
          <ion-label [ngClass]="{label:true}">Delete</ion-label>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button>
          <ion-thumbnail [ngClass]="{img:true}">
            <img src="../../assets/icon/icon-close.png" />
          </ion-thumbnail>
          <ion-label [ngClass]="{label:true}" position="fixed">Close</ion-label>
        </ion-fab-button>
      </ion-col>
      <!-- <ion-col [ngClass]="{button:true}">

        <ion-thumbnail [ngClass]="{img:true}">
          <img src="../../assets/icon/icon-trash.png" />
        </ion-thumbnail>
       


      </ion-col>
      <ion-col [ngClass]="{button:true}">

        <ion-thumbnail [ngClass]="{img:true}">
          <img src="../../assets/icon/icon-close.png" />
        </ion-thumbnail>
        <ion-label [ngClass]="{label:true}" position="fixed">Close</ion-label>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
