.button{
    
   --color: #ffffff;
    background: rgba(0,0,0,.7);
    --background: rgba(0,0,0,.7);
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 3rem;
    display: inline-block;
}

.label
{
   color: #ffffff;
}

.content {
   --padding-bottom: 2rem;
   --padding-top: 10rem;
   --padding-start: 8rem;
   --padding-end: 8rem;
}